img {
  width: auto;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  color: inherit;
  text-rendering: optimizeLegibility;
}
body {
  -webkit-font-smoothing: antialiased;
  color: hsl(0,0%,27%);
  line-height: normal;
}

a {
  text-decoration: none;
}
a.disabled {
  cursor: default;
}
a.disabled:hover {
  text-decoration: none;
}
